<template>
    <div>
        <h2>Command Reference</h2>
        <b-table
            narrowed
            striped
            :mobile-cards="false"
            :data="rows"
            :columns="columns"
        ></b-table>
        <a href="https://en.wikipedia.org/wiki/Befunge">Wiki</a>,
        <a href="https://esolangs.org/wiki/Befunge">Esolang</a>,
        <a href="https://github.com/catseye/Befunge-93/blob/master/doc/Befunge-93.markdown">Docs</a>
    </div>
</template>

<script>
export default {
    name: 'CommandReference',
    data() {
        return {
            rows: [
                {'com':'0-9','name':'numbers','ins':'','res':'push number 0-9'},
                {'com':' ','name':'space','ins':'','res':'does nothing'},
                {'com':'+','name':'add','ins':'val2, val1','res':'push val1 + val2'},
                {'com':'-','name':'subtract','ins':'val2, val1','res':'push val1 - val2'},
                {'com':'*','name':'multiply','ins':'val2, val1','res':'push val1 * val2'},
                {'com':'/','name':'divide','ins':'val2, val1','res':'push val1 / val2 (int.)'},
                {'com':'%','name':'modulo','ins':'val2, val1','res':'push val1 mod val2'},
                {'com':'!','name':'not','ins':'val','res':'push 0 if val, else 1'},
                {'com':'`','name':'greater','ins':'val2, val1','res':'push 1 if val1>val2, else 0'},
                {'com':'>','name':'right','ins':'','res':'PC -> right'},
                {'com':'<','name':'left','ins':'','res':'PC -> left'},
                {'com':'^','name':'up','ins':'','res':'PC -> up'},
                {'com':'v','name':'down','ins':'','res':'PC -> down'},
                {'com':'?','name':'random','ins':'','res':'PC -> random'},
                {'com':'_','name':'horiz. if','ins':'val','res':'PC->left if val, else PC->right'},
                {'com':'|','name':'vert. if','ins':'val','res':'PC->up if val, else PC->down'},
                {'com':'"','name':'stringmode','ins':'','res':'toggle stringmode'},
                {'com':':','name':'dup','ins':'val','res':'push val, push val'},
                {'com':'\\','name':'swap','ins':'val2, val1','res':'push val2, push val1'},
                {'com':'$','name':'pop','ins':'val','res':'discard val'},
                {'com':'.','name':'output int','ins':'val','res':'outputs val as integer'},
                {'com':',','name':'output char','ins':'val','res':'outputs val as ASCII'},
                {'com':'#','name':'bridge','ins':'','res':'jumps PC over next cell'},
                {'com':'g','name':'get','ins':'y, x','res':'push val from (x,y)'},
                {'com':'p','name':'put','ins':'y, x, val','res':'puts val at (x,y)'},
                {'com':'&','name':'input int','ins':'','res':'push val user entered'},
                {'com':'~','name':'input char','ins':'','res':'push char user entered'},
                {'com':'@','name':'end','ins':'','res':'end program'},
            ],
            columns: [
                {
                    field: 'com',
                    label: 'Command',
                    centered: true
                },
                {
                    field: 'name',
                    label: 'Name',
                    centered: true
                },
                {
                    field: 'ins',
                    label: 'Pop',
                    centered: true
                },
                {
                    field: 'res',
                    label: 'Action',
                },
            ],
        }
    },
}
</script>

<style scoped></style>
