<template>
    <div
        :class="['cell', label === ' ' ? 'filled' : '']"
        tabindex="1"
        @keydown="keyPress"
    >
        <div style="margin-top: -1px">{{ label }}</div>
    </div>
</template>

<script>
export default {
    name: 'PlayfieldCell',
    props: {
        x: Number,
        y: Number,
        label: String,
    },
    data() {
        return {
            registerTab: true
        }
    },
    methods: {
        keyPress(e) {
            if (!(e.ctrlKey && e.key==='v')) {
                e.preventDefault()
            }
            let key = e.key
            let currentX = this.x
            let currentY = this.y
            if (key === 'ArrowLeft') {
                currentX = (currentX - 1 + 80) % 80
            } else if (key === 'ArrowRight') {
                currentX = (currentX + 1) % 80
            } else if (key === 'ArrowUp') {
                currentY = (currentY - 1 + 25) % 25
            } else if (key === 'ArrowDown') {
                currentY = (currentY + 1) % 25
            } else if (!e.repeat) {
                if (e.ctrlKey) {
                    if (key === 'c') {
                        this.$emit('copy-cell', this.x, this.y)
                    } else if (key === 'a') {
                        this.$emit('copy-all')
                    } else if (key === 'Delete') {
                        this.$emit('clear')
                        currentX = 0
                        currentY = 0
                    }
                } else if (key === 'Space' || key === 'Delete') {
                    this.$emit('change-cell-value', this.x, this.y, ' ')
                } else if (key === 'Backspace') {
                    this.$emit('reset')
                } else if (key === 'Tab') {
                    if (this.registerTab) {
                        this.registerTab = false
                        setTimeout(() => {this.registerTab = true}, 200)
                        this.$emit('single-step', this.x, this.y, key)
                    }
                } else if (key === 'Enter') {
                    this.$emit('toggle-run')
                } else if (key.length === 1) {
                    this.$emit('change-cell-value', this.x, this.y, key)
                }
            }
            document.getElementById('input_'+currentX+'_'+currentY).focus()
        }
    }
}
</script>

<style scoped>
.cell {
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: 9px;
    margin: 0px;
    padding: 0px;
    caret-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(248, 248, 248);
    display: inline-block;
    vertical-align: top;
}

.cell:focus {
    border: 1px solid black;
    border-radius: 3px;
    outline: 0px;
}

.active {
    background-color: yellow !important;
}

.filled {
    background-color: rgb(230, 230, 230);
}
</style>
