<template>
    <div>
        <h2>Stack</h2>
        <div class="stack-table">
            <table>
                <tr class="overline">
                    <th>#</th>
                    <td class="text-small">0</td>
                    <td
                        class="text-small"
                        v-for="i in stack.length"
                        :key="i"
                    >{{ i }}</td>
                </tr>
                <tr>
                    <th>VALUE</th>
                    <td><strong>0</strong></td>
                    <td
                        v-for="i in stack.length"
                        :key="i"
                    >
                        <strong>{{ stack[i-1] }}</strong>
                    </td>
                </tr>
                <tr class="underline">
                    <th>(char)</th>
                    <td></td>
                    <td
                        v-for="i in stack.length"
                        :key="i"
                    >{{ String.fromCharCode(stack[i-1]) }}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: 'StackView',
    props: {
        stack: Array,
    },
}
</script>

<style scoped>
.stack-table {
    width: 960px;
    overflow: auto;
}

.stack-table th,
.stack-table td {
    text-align: center;
    padding: 3px;
    min-width: 2em;
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
}

.text-small {
    font-size: 80%;
    color: gray;
    vertical-align: middle;
}

.overline {
    border-top: 1px solid rgb(200, 200, 200);
}

.underline {
    border-bottom: 1px solid rgb(200, 200, 200);
}
</style>
