<template>
    <div id="app">
        <div class="columns is-desktop">
            <div class="column is-narrow">
                <h2>Playfield</h2>
                <table class="playfield-hints">
                    <tr>
                        <td>Delete: clear cell</td>
                        <td>Ctrl+Delete: clear all</td>
                        <td>Backspace: reset</td>
                        <td>Enter: run/stop</td>
                        <td>Tab: step</td>
                        <td>Ctrl+V: paste</td>
                        <td>Ctrl+C: copy cell</td>
                        <td>Ctrl+A: copy all</td>
                    </tr>
                </table>
                <div
                    class="playfield-row"
                    v-for="y in 25"
                    :key="y"
                >
                    <PlayfieldCell
                        v-for="x in 80"
                        :key="x"
                        :y="y-1"
                        :x="x-1"
                        :id="'input_' + (x-1) + '_' + (y-1)"
                        :label="playfield[y-1][x-1]"
                        :class="(currentX === x-1 && currentY === y-1) ? 'active' : ''"
                        @change-cell-value="changeCellValue"
                        @single-step="singleStep"
                        @clear="clear"
                        @reset="reset"
                        @toggle-run="toggleRun"
                        @copy-cell="copyCell"
                        @copy-all="copyAll"
                    ></PlayfieldCell>
                </div>

                <StackView :stack="stack"></StackView>

                <h2>Output</h2>
                <div class="output">{{ output }}</div>
            </div>

            <CommandReference class="column"></CommandReference>
        </div>
    </div>
</template>

<script>
import CommandReference from './components/CommandReference.vue'
import PlayfieldCell from './components/PlayfieldCell.vue'
import StackView from './components/StackView.vue'

function copyStringToClipboard(text) {
    var el = document.createElement('textarea')
    el.value = text
    el.setAttribute('readonly', '')
    el.style = { position: 'absolute', left: '-9999px' }
    document.body.appendChild(el)
    el.select()
    document.execCommand('copy')
    document.body.removeChild(el)
}

export default {
    name: 'app',
    components: {
        CommandReference,
        PlayfieldCell,
        StackView,
    },
    data() {
        let playfield = []
        for (let i = 0; i < 25; i++) {
            let row = []
            for (let j = 0; j < 80; j++) {
                row.push(' ')
            }
            playfield.push(row)
        }
        return {
            playfield,
            stack: [],
            direction: 0,
            currentX: -1,
            currentY: 0,
            stringMode: false,
            skipNext: false,
            output: '',
            running: false,
            ended: false,
        };
    },
    mounted() {
        this.loop = setInterval(() => { if (this.running) this.step() }, 250);
        document.addEventListener('paste', event => {
            let activeId = document.activeElement.id
            if (activeId.startsWith('input')) {
                let clipText = event.clipboardData.getData('text')
                let spl = activeId.split('_')
                let x = Number(spl[1])
                let y = Number(spl[2])
                let splittedText = clipText.split(/\r?\n/)
                for (let r = 0; r < splittedText.length; r++) {
                    for (let c = 0; c < splittedText[r].length; c++) {
                        this.$set(this.playfield[(y + r) % 25], (x + c) % 80, splittedText[r][c])
                    }
                }
            }
        })
    },
    beforeDestroy() {
        clearInterval(this.loop)
    },
    methods: {
        stackPop() {
            return this.stack.length ? this.stack.pop() : 0
        },
        stackPush(x) {
            // convert x to a 32-bit integer
            const e = 2147483648
            x += e
            if (x < 0) {
                x += Math.ceil(-x / (2*e)) * (2*e)
            }
            this.stack.push((x % (2*e)) - e)
        },
        step() {
            if (this.ended) return // do nothing
            switch (this.direction) {
                case 0:
                    this.currentX = (this.currentX + 1) % 80
                    break
                case 1:
                    this.currentY = (this.currentY - 1 + 25) % 25
                    break
                case 2:
                    this.currentX = (this.currentX - 1 + 80) % 80
                    break
                case 3:
                    this.currentY = (this.currentY + 1) % 25
                    break
            }
            if (this.skipNext) {
                this.skipNext = false
                return
            }
            let command = this.playfield[this.currentY][this.currentX]
            if (command === '\'') {
                this.stringMode = !this.stringMode
            } else if (this.stringMode) {
                this.stackPush(command.charCodeAt(0))
            } else if ('0123456789'.indexOf(command) > -1) {
                this.stackPush(Number(command))
            } else if (command === '>') {
                this.direction = 0
            } else if (command === '^') {
                this.direction = 1
            } else if (command === '<') {
                this.direction = 2
            } else if (command === 'v') {
                this.direction = 3
            } else if (command === '?') {
                this.direction = Math.floor(Math.random() * 4)
            } else if (command === '+') {
                let b = this.stackPop()
                let a = this.stackPop()
                this.stackPush(a + b)
            } else if (command === '-') {
                let b = this.stackPop()
                let a = this.stackPop()
                this.stackPush(a - b)
            } else if (command === '*') {
                let b = this.stackPop()
                let a = this.stackPop()
                this.stackPush(a * b)
            } else if (command === '/') {
                let b = this.stackPop()
                let a = this.stackPop()
                this.stackPush(b === 0 ? NaN : Math.trunc(a / b))
            } else if (command === '%') {
                let b = this.stackPop()
                let a = this.stackPop()
                this.stackPush(b === 0 ? NaN : a % b)
            } else if (command === '!') {
                let a = this.stackPop()
                this.stackPush((a === 0 || isNaN(a)) ? 1 : 0)
            } else if (command === '`') {
                let b = this.stackPop()
                let a = this.stackPop()
                this.stackPush(a > b ? 1 : 0)
            } else if (command === '_') {
                let a = this.stackPop()
                this.direction = (a === 0 || isNaN(a)) ? 0 : 2
            } else if (command === '|') {
                let a = this.stackPop()
                this.direction = (a === 0 || isNaN(a)) ? 3 : 1
            } else if (command === ':') {
                let a = this.stackPop()
                this.stackPush(a)
                this.stackPush(a)
            } else if (command === '\\') {
                let b = this.stackPop()
                let a = this.stackPop()
                this.stackPush(b)
                this.stackPush(a)
            } else if (command === '$') {
                this.stackPop()
            } else if (command === '.') {
                let a = this.stackPop()
                this.output = this.output + a + ' '
            } else if (command === ',') {
                let a = this.stackPop()
                this.output = this.output + String.fromCharCode(a)
            } else if (command === '#') {
                this.skipNext = true
            } else if (command === 'g') {
                let y = ((this.stackPop() % 25) + 25) % 25
                let x = ((this.stackPop() % 80) + 80) % 80
                this.stackPush(this.playfield[y][x].charCodeAt(0))
            } else if (command === 'p') {
                let y = ((this.stackPop() % 25) + 25) % 25
                let x = ((this.stackPop() % 80) + 80) % 80
                let v = this.stackPop()
                this.$set(this.playfield[y], x, String.fromCharCode(v))
            } else if (command === '&') {
                let paused = false
                if (this.running) {
                    this.running = false
                    paused = true
                }
                let currentFocus = document.activeElement.id
                this.$dialog.prompt({
                  message: 'Enter an integer: ',
                    confirmText: 'Enter',
                    inputAttrs: {
                        type: 'number',
                        placeholder: '',
                    },
                    onConfirm: value => {
                        this.stackPush(parseInt(value, 10))
                        if (paused) this.running = true
                        document.getElementById(currentFocus).focus()
                    },
                })
            } else if (command === '~') {
                let paused = false
                if (this.running) {
                    this.running = false
                    paused = true
                }
                let currentFocus = document.activeElement.id
                this.$dialog.prompt({
                    message: 'Enter a character: ',
                    confirmText: 'Enter',
                    inputAttrs: {
                        placeholder: '',
                        maxlength: 1,
                    },
                    onConfirm: value => {
                        this.stackPush(value.charCodeAt(0))
                        if (paused) this.running = true
                        document.getElementById(currentFocus).focus()
                    },
                })
            } else if (command === '@') {
                this.ended = true
            }
            // space or other character = do nothing
        },
        clear() {
            for (let i = 0; i < 25; i++) {
                for (let j = 0; j < 80; j++) {
                    this.$set(this.playfield[i], j, ' ')
                }
            }
        },
        reset() {
            this.stack = []
            this.direction = 0
            this.currentX = -1
            this.currentY = 0
            this.stringMode = false
            this.skipNext = false
            this.output = ''
            this.running = false
            this.ended = false
        },
        changeCellValue(x, y, val) {
            this.$set(this.playfield[y], x, val)
        },
        singleStep() {
            if (!this.running) {
                this.step()
            }
        },
        toggleRun() {
            this.running = !this.running
        },
        copyCell(x, y) {
            copyStringToClipboard(this.playfield[y][x])
        },
        copyAll() {
            copyStringToClipboard(this.playfield.map((e) => e.join('')).join('\n'))
            this.$toast.open('The entire playfield copied to clipboard!')
        },
    },
};
</script>

<style>
body {
    margin: 20px;
    font-family: monospace !important;
    font-size: 11px;
}

h1 {
   font-size: 24px;
}

h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.playfield-row {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

.output {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(200, 200, 200);
    min-height: 10em;
    padding: 3px;
    border-radius: 5px;
}

.playfield-hints {
    width: 960px;
    margin-bottom: 4px;
}

.playfield-hints td {
    text-align: center;
    border: 1px solid rgb(244, 244, 244);
}
</style>
